// Color Scheme
$primary-bg-color: rgb(238, 229, 233);
$secondary-bg-color: rgba(124, 124, 124, 0.57);
$accent-bg-color: rgb(214, 73, 51);
$muted-bg-color: rgb(0, 21, 41);
$vibrant-bg-color: rgb(132, 220, 207);

$soundcloud-color: #ff5503;

// Sizes

$header-height: 75px;
